@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap");

body {
  background: rgb(159, 0, 113);
  background: linear-gradient(
    90deg,
    rgba(159, 0, 113, 1) 0%,
    rgba(131, 0, 150, 1) 35%,
    rgba(244, 0, 255, 1) 100%
  );
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.box {
  background: #ecf4ff;
  margin: 128px;
  box-shadow: 6px 6px 6px #0e1d2f;
  border-radius: 20px;
  color: #1c1c1c;
  padding: 48px;
}

.titulo {
  display: flex;
  justify-content: center;
}

header h1 {
  font-weight: 700;
  font-size: 24;
  text-align: center;
}

.numeros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 64px;
}

.numeros h3 {
  border: solid 1px;
  padding: 15px;
  border-radius: 0px 20px 0px 20px;
  margin: 8px;
}

footer {
  padding-top: 16px;
}

footer a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

p {
  text-decoration: none;
}

footer img {
  height: 24px;
  padding: 16px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  background-color: #ecf4ff;
  border-radius: 100px;
}